workflow.json
[{"updatedAt":"2026-06-16T06:24:01.990Z","createdAt":"2026-06-12T06:11:55.736Z","id":"V3KdtVbpTwmNN6qJ","name":"My workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"58509096-5451-47c7-852b-6b2a69171c84","name":"fileName","value":"trip","type":"string"},{"id":"f64a435d-1194-4503-87ad-225552a065a9","name":"location","value":"gogodino","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"481efaa2-7442-4b57-9466-39bb434d82ce","name":"Edit Fields"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1tCR7b0XaCebsAIXVSxicvvFLq0dXdYMI","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://drive.google.com/drive/folders/1tCR7b0XaCebsAIXVSxicvvFLq0dXdYMI"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"9d1bfe00-fa73-4a62-9383-14bfa990fc3b","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"qczsaYS5IeF92kWx","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"YOUR_ANTHROPIC_API_KEY"},{"name":"content-type","value":"application/json"},{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n    \"model\": \"claude-sonnet-4-6\",\n    \"max_tokens\": 1024,\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": \"다음 파일 정보를 바탕으로 블로그 포스팅 초안을 작성해주세요. 파일명: {{ \n  $json.fileName }}, 장소: {{ $json.location }}\"\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[416,0],"id":"4f103116-767e-4c0f-9b29-48f7aa94715f","name":"HTTP Request"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2026-06-16T04:14:38Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"15f8f647-a467-4b5b-b8f3-a4e596135106","activeVersionId":"f8007b91-e125-4995-9b7a-2c7a8ff908ad","versionCounter":39,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-12T06:11:55.740Z","createdAt":"2026-06-12T06:11:55.740Z","role":"workflow:owner","workflowId":"V3KdtVbpTwmNN6qJ","projectId":"l2z5R0CqgKER5gPp","project":{"updatedAt":"2026-06-12T06:08:54.679Z","createdAt":"2026-06-12T06:07:00.851Z","id":"l2z5R0CqgKER5gPp","name":"sunjong park <wolyang2022@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"18a899ab-79d3-40e5-b90d-c9f1ef8107a2"}}]}]